@charset "UTF-8";

/* hi mace! if youre still here, i dedicated this css for you :)
may you forever be immortalized in this silly project
hope youre doing well out there man <3 */

html{
    font-family:'Ubuntu', 'Calibri', sans-serif;
    text-align: center;
    color:#ffffff;
    background: #011204;
    background-image: url('bg.svg');
    background-attachment: fixed;
    background-position: center;
    scrollbar-color: #303c2f #262626;   
}

h1{
    background:#5b9061;
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 10px;
}
h2{
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 10px;
    padding: 2%;
    margin: 1% auto;
    max-width: 70%;
}

.texttext{
    margin: 1% auto;

    max-width: 70%;
    white-space: pre-line;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background: #011204;
    background-attachment: fixed;
    position: fixed;
    height: 97%;
    overflow: auto;
    top: auto;
    border: #5b9061;
    border-style: solid;
    border-radius: 10px;
}
.sidebar h3 {
    background:#5b9061;
    padding: 4%;
    margin: 2%;
    margin-bottom: 12px;
    border: none;
    border-radius: 10px;
}
.sidebar a {
    display: block;
    color: #a3a3a3;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    margin: 2%;
}
.sidebar a.workinprogress {
    margin: 2%;
    color: #5b9061;
    text-decoration: line-through;
}
.sidebar a.workinprogress:hover:not(.active){
    background: #ff000000;
    color: #ffffff;
}
.sidebar a.active {
    margin: 2%;
    background: #448846;
    color: #ffffff;
    border-radius: 10px;
}
.sidebar a.active:hover{
    background-color: #d2883e
}
.sidebar a:hover:not(.active) {
    margin: 2%;
    background-color: #5b9061;
    color: white;
    border-radius: 10px;
}

div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        font-size: small;
        margin-bottom: 10px;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* contctatac */
.linkswoa {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 20px;
}
.linkswoa a {
    text-align: center;
    padding: 0.8rem;
    background-color: #5b9061;
    border-radius: 10px;
    color: #ffffff;
}

.contactthing{
    text-decoration: none;
    color: #29e29c;
}
.contactthing:hover{
    color: #ffffff;
    background-color: #448846;
}


/* ZE NAVI!!!!!!!!!!!!!!!!!! */
.buttonnavi{
    font-family:'Ubuntu', 'Calibri', sans-serif;
    background-color: #5b9061;
    padding: 5px 17px 5px 17px;
    color: #ffffff;
    margin-left: 10% auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    min-height: 36px;
}
.buttonnavi:hover{
    background-color: #448846;
}

.navilinks{
    color: #448846;
}
.navilinks:hover{
    color: #d2883e;
}


/* links */
a{
    color: #448846;
}
a:hover{
    color: #26de48;
}

/* text styles and stuff */
.col{
    color: #43ff39;
}

.grey{
    color: #999999;
    margin-bottom: -12px;
    font-size: small;
}

.small{
    color: #5b9061;
    font-size: small;
}

.link{
    color: #9faba1;
    font-size: small;
}
.link:hover{
    color: #9c96c8;
}

summary{
    font-weight: bold;
    color: #ffffff;
    color: #448846;
    cursor: pointer;
}
summary:hover{
    color: #26de48;
}
/* text styles and stuff */



/* column view */
.stupidfuckingcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-left: 4%;
    margin-right: 4%;
}
.category{
    background-color: #011204;
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    /* just so everyone here knows, i had to use some help for this. 
    i am not intelligent. do not mistake me as such */
}
.category a{
    padding: 20px;
    border: 4px solid #5b9061;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    max-height: 100px;
    transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;

    word-break: break-word;
    font-size: small;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.category a:hover .small{
    color: #5b9061;
}
.category .bigguy{
    font-size: x-large;
    color: #448846;
}
.category a:hover{
    background-color: #5b9061;
}
.category a:hover .bigguy{
    color: #26de48;
    font-weight: bold;
}
@media (max-width: 768px) {
    .category{
        flex-basis: 100%;
    }
}
/* column view */

.temporary{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
}

.temporary p{
    padding: 25px;
    border: #5b9061;
    border-style: dotted;
    border-radius: 10px;

    white-space: pre-line;
}