/* FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS */
@font-face {
    font-family: 'determination'; src: url('/.assets/fonts/DeterminationSansWeb.ttf');
}
.determination {
    font-family: "determination", 'Minecraftia', monospace;
    font-size: 20px;
    line-height: 1;
    font-style: normal;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'utsans'; src: url('/.assets/fonts/UndertaleSans.ttf');
}
.utsans {
    font-family: "utsans", 'Minecraftia', monospace;
    font-size: 18px;
    line-height: 1;
    text-transform: lowercase;
    font-style: normal;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'utpapyrus'; src: url('/.assets/fonts/UndertalePapyrus.ttf');
}
.utpapyrus {
    font-family: "utpapyrus", 'Minecraftia', monospace;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'dealer'; src: url('/.assets/fonts/Fake\ Receipt.otf');
}
.dealer {
    font-family: "dealer", 'Minecraftia', monospace;
    font-size: normal;
    line-height: 1;
    text-transform: uppercase;
    color: #ceab72;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'vcr'; src: url('/.assets/fonts/VCR_OSD_MONO_1.001.ttf');
}
.vcr {
    font-family: "vcr", 'Minecraftia', monospace;
    font-size: larger;
    line-height: 1;
    text-transform: uppercase;
    color: #ff5d5d;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'omori'; src: url('/.assets/fonts/OMORI_GAME2.ttf');
}
.omori {
    font-family: "omori", 'Minecraftia', monospace;
    font-size: x-large;
    line-height: 1;
    color: #ffffff;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'balatro'; src: url('/.assets/fonts/balatro.ttf');
}
.balatro {
    font-family: "balatro", 'Minecraftia', monospace;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'ggsans'; src: url('/.assets/fonts/ggsansmed.ttf');
}
.ggsans {
    font-family: "ggsans";
    font-size: large;
    font-style: normal;
}

.normalfont {
    font-family: monospace;
    font-size: large;
    line-height: 1;
    color: #ff0000;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.comicsans {
    font-family: "Comic Sans MS", 'Minecraftia', monospace;
    font-size: x-large;
    line-height: 1;
    text-transform: lowercase;
    font-style: normal;
}
/* FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS */