@charset "UTF-8";

html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body {
    font-family: "winxp", sans-serif;
    font-size: large;
}
@font-face {
    font-family: 'winxp'; src: url('../.assets/fonts/winxp.otf');
}


#center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.disc {
    opacity: 0.1;
    transition: all 0.5s ease-in-out;

    width: 100px;
    height: 100px;
    cursor: pointer;
}
.disc img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}
.disc:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.disc.playing {
    animation: spin 4s linear infinite;
    opacity: 1;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
