html {
    padding: 1vw 4vw 1vw 4vw;
    scrollbar-color: #2b006f #1d0033;

    background-color: #000000;
    background-size: cover;
    background-image: url('helloworld.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html body {
    margin: 2vw;
    padding: 1vw;

    background-color: rgba(6, 0, 25, 0.259);

    border: #000000;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    border-color: #2b006f31;

    color: #bcc3ff;
    transition: background-color 0.5s ease-in-out;
}

html body:hover{
    background-color: rgba(6, 0, 25, 0.489);
    transition: background-color 0.5s ease-in-out;
}


.page-header h1 {
    font-family: "Funnel Display", "calibri";
    text-align: center;
    letter-spacing: 0.2vw;
    color: #fff;
    text-shadow: 0 0 10px #ffffff91;
    margin : 25px;
}

.row{
    font-family: 'Archivo', sans-serif;
    letter-spacing: 5%;
}

.alert {
    margin-top: 1vw;
    font-size: small;
}

.textdesc {
    padding: 1vw;
}
.centered {
    text-align: center;
}
.uh {
    font-family: "Funnel Display", "calibri";
    font-size: large;
    font-weight: bold;
    color: #e0e3ff;
    letter-spacing: 2px;
}
a {
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(43, 0, 255);
}

.col-md-6 {
    padding: 1vw;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #2b006f00;
    transition: border-color 0.5s ease-in-out;
}
.col-md-6:hover {
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #2b006fb8;
    transition: border-color 0.5s ease-in-out;
}


.tab {
    overflow: hidden;
    margin: 1vw;
}
.tab button {
    font-family: "Funnel Display", "calibri";
    color: #e0e3ff;
    font-size: large;
    font-style: bold;
    user-select: none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    color: #ca75ff;
    letter-spacing: 3%;
    text-decoration: underline;
}
.tab button.active {
    color: #83ffb5;
    text-shadow: 0 0 10px #83ffb5;
    font-weight: bold;
}
.tabcontent {
    font-family: 'Archivo', sans-serif;
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 1s;
    margin: 1vw;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
  
}

ol {
    word-spacing: 10%;
}
li {
    letter-spacing: 2px;
    list-style:disc;
    padding: 5px;
    font-size: small;
    text-shadow: 0 0 5px #2b006f;
}
li strong {
    color: #9175ff;
    text-shadow: 0 0 5px #8e75ffba;
}

@media (max-width: 800px) {
    .page-header h1 {
        font-size: 25px;
    }
    .textdesc {
        font-size: 12px;
    }
    .tab {
        margin: 0 auto;
        text-align: center;
    }
    .tab button {
        display: block;
        font-size: medium;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        float: none;
    }
}