html{
    scrollbar-color: #8ec9e0 #ddf5ff;
    background-color: #8ec9e0;
    overflow-x: hidden;
    cursor: crosshair;
}
@font-face {
    font-family: 'mctitle'; src: url('/assets/fonts/mctitle.ttf') format('truetype');
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('world.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(3px) brightness(0.75);
    z-index: -1;
}
.crtdance{
    position: fixed;
    top: 1%;
    left: 2%;
    user-select: none;
}
.crtdance p {
    position: fixed;
    top: 1%;
    left: 8%;
    font-size: x-small;
    color: #ffffff;
    text-shadow: 0px 1px #000000;

    background-color: #00000050;
    padding: 8px;
}

.parent {
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.div1 {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.div1-top {
    margin: auto;
    align-items: center;
    height: 120px;
}
.div1-bottom {
    display: flex;
    height: 400px;
}

.div2 {
    height: 550px;
}


.titleandstuff{
    font-family: 'mctitle', sans-serif;
    text-align: center;
    font-size: x-large;
    
    margin-top: 25px;
    margin-bottom: 25px;
}
.titleandstuff h1{
    background: linear-gradient(
        to right,
        #058a6c 20%,
        #24c8a6 30%,
        #e7e7f6 50%,
        #4c48c4 70%,
        #3c1a75 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    margin: 0;
    text-shadow: 0px 5px #ffffff;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    /*https://www.amitmerchant.com/animated-gradient-effect-in-css/ thanks broski*/
}

.oaksign {
    width: 384px;
    height: 160px;
    padding: 15px;
    box-sizing: border-box;

    background-image: url("oaksign.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;    
    overflow: hidden;
}
.oaksign-text{
    font-family: 'minecraftia', sans-serif;
    text-align: center;
    color: #000000;
}

.page {
    box-sizing: border-box;

    background-image: url("page.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    padding: 35px;
}
.pagecontent {
    margin: 0px 150px 0px 150px;
    padding: 10px;
    justify-content: left;  
    text-align: left;
    font-size: small;
}

.signprompt{
    text-align: center;
    margin-top: auto;
}

.homething{
    border-style: none;
    text-decoration: underline;
    font-size: small;
}

.small{
    font-size: small;
    padding-left: 10px;
    opacity: 0.5;
}

.buttons{
    align-items: center;
    justify-content: center;
    font-size: large;
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.buttons a {
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    text-shadow: 0px 2px #313131;
    font-size: smaller;

    color: #ffffff;
    background-color: #696969;
    
    border: #000000;
    border-width: 3px;
    border-style: outset;
}
.buttons a:hover {
    text-shadow: 0px 2px #5a5a5a;
    background-color: #999999;
}
h3 {
    position: relative;
    top: 2em;
    left: 23%;
    color: #29e29c;
    margin-bottom: 2em;
}
p {
    line-height: 150%;
}

body {
    font-family: 'minecraftia', sans-serif;
}
.container {
    width: 100%; 
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-color: #ababab #00000050;
}
.main-header {
    text-align: center;
    margin-top: 1.5em;
}

.entry {
    background-color: #00000050;
    padding: 0.1rem 1rem; 
    transition: background 0.25s ease;
    margin-bottom: 2px;
    width: inherit;
}
.entry:nth-child(even) {
    background-color: #00000050;
    margin-bottom: 2px;
}

.entry-info {
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.entry-info p {
    margin-bottom: 0.125rem;
    color: #ffffff;
}
.entry-info .author {
    color: #ffff00;
    font-style: normal;
    font-size: medium;
}
.entry-info .website {
    color: #2988e2;
    text-decoration: underline;
    border-style: none;
}
.entry-info .website:hover {
    color: #00b3ff;
    text-decoration: underline;
    border-style: none;
}
.entry-text p {
    font-size: smaller;
    margin-top: 0;
    color: #ffffff;
}
.entry .date, .time{
    opacity: 0.5;
}

.guestbook-links {
    margin: 1rem 0;
    text-align: center;
}
.guestbook-links a {
    padding: 1rem 4rem;
    display: inline-block;
    margin: 0 0.5rem;
}


.manage-entry {
    overflow: hidden;
    height: 100px;
}
.manage-entry .entry-left {
    width: calc(80% - 2em);
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2em;
}
.manage-entry .entry-options {
    box-sizing: border-box;
    width: 20%;
    float: left;
    border-left: solid 2px #cddbe2;
    text-align: center;
    padding: 1em 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon {
    color: #000;
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    margin: 0 1.5em 0 0;
}
img.icon {
    max-height: 0.75em;
    margin-left: -0.25rem;
    margin-right: 0;
}

.checkmark {
    display: inline-block;
}
.checkmark:after {
    content: '';
    display: block;
    width: 7px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.fuck {
    font-family: 'minecraftia', sans-serif;
    font-size: small;
    border: 1px solid #0000007b;
    border-radius: 0.25rem;
    border-style: solid;
    color: #000000;
    background: #00000000;
}

.form-element {
    width: 100%;
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    resize: none;
}
.form-element::placeholder {
    color: #0000007b;
}
.form-element:focus {
    color: #000000;
}
.form-element.short {
    width: 30%;
}

.form-button {
    font-family: 'minecraftia', sans-serif;
    font-size: smaller;
    text-shadow: 0px 2px #313131;
    color: #ffffff;
    padding: 0.1rem 1rem;
    margin-right: 0.5rem;
    display: inline-block;

    background-color: #696969;
    border: #000000;
    border-width: 3px;
    border-style: outset;
    transition: all 0.25s ease;
    
}
.form-button:hover {
    text-shadow: 0px 2px #5a5a5a;
    background-color: #999999;
}

.emailFormCard-TextArea {
    font-family: 'minecraftia', sans-serif;
    padding: -0.25rem;
    border-radius: 0.25rem;
    outline: 0;
    border: 1px solid #fff;
    background: 0 0;
    color: #ffffff;
    font-weight: 300;
    resize: none;
}

input:not([type="submit"]) {
    border-radius: 0.25rem;
    border: 1px solid #fff;
    background: 0 0;
    color: #ffffff;
}
input:not([type="submit"])::placeholder {
    background: 0 0;
    transition: color 0.2s ease-in-out;
}
input:not([type="submit"]):focus::placeholder {
    opacity: 1;
}
input:not([type="submit"]):placeholder-shown {
    background: 0 0;
}
input:not([type="submit"]):not(:placeholder-shown) {
    margin-top: 1em;
    margin-right: 0.5rem;
    display: inline-block;
    color: #000000;
    transition: all 0.25s ease;
}
input:not([type="submit"]):not(:focus):not(:placeholder-shown):valid {
    border: 1px solid #000000;
}
input:not([type="submit"]):not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid #a30008;
}
input:not([type="submit"]):focus,
input:not([type="submit"]):placeholder-shown:invalid:not(:focus),
input:not([type="submit"]):placeholder-shown:valid:not(:focus) {
    border: 1px solid grey;
}
input:not([type="submit"]):hover {
    background: #ffffff;
    cursor: pointer;
}
input:not([type="submit"]):focus {
    background: #ffffff;
    color: #000000;
}

form:invalid input[type="submit"] {
    opacity: 0.5;
    cursor: not-allowed;
}
form:valid input[type="submit"] {
    opacity: 1;
    cursor: auto;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.aterisk_before:before {
    color: #e32;
    content: ' *';
    display: inline;
}

.aterisk_after:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.max-length:after {
    color: #e32;
    font-size: small;
    content: "  *" " max length: 128 characters";
    display: inline;
}

/*  I FUCKING HATE DOING MOBILE VIEW AAAAAAAAAAAAAAAAAGHHHJJHJHJKJJJJJJJHHHH */
@media (max-width: 800px) {
    .parent {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 10px;
    }

    .page {
        padding: 20px;
        background-size: cover;
        height: auto;
        min-height: 400px;
    }
    .pagecontent {
        margin: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    .form-element.short {
        width: 100% !important;
    }

    .div1-bottom {
        height: auto;
    }
    .div2 {
        height: auto;
    }

    .oaksign {
        width: 100%;
        max-width: 384px;
        margin: 0 auto;
    }

    .crtdance {
        position: absolute;
        top: 40px;
        left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .crtdance p {
        position: absolute;
        top: -40px;
        font-size: 6px;
        left: 5px;
        display: inline-block;
    }

    .container {
        max-height: 50vh;
    }

    .buttons {
        flex-direction: column;
        width: 90%;
        margin: 0 auto 25px auto;
    }
    .buttons a {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}