@charset "UTF-8";

html{
    font-family:'Doto', sans-serif;
    background-color: #000000; 
}

.intermediary{
    margin-top: 100px;
    text-align: center;
    color: #000000;
}

.call img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
