body{
    background: linear-gradient(315deg, rgb(0, 0, 0) 3%, rgb(11, 11, 11) 38%, rgb(28, 28, 28) 68%, rgb(0, 0, 0) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 255, 255, 0.055);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 17em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


/* carouuusel */
.carousel {
    padding-top: 150px;
    max-width: 99%;
    overflow: hidden;
    display: flex;

    z-index:-1;
    position: fixed;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    
    animation: opacityThing 4s ease-in-out infinite;

    > * {
        flex: 0 0 100%;
    }
}
@keyframes opacityThing {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
}

.waow {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
}

.group {
    display: flex;
    gap: 40px;
    padding-right: 30px;
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}