html {
    font-family: 'Red Hat Text', sans-serif;
    scrollbar-color: #333339 #19191c;
    max-width: 100%;
    overflow-x: hidden;
}
/* today i learned * in css means all elements
i dont know if its different from using html? so im just going with the usual lmao */

@font-face {
    font-family: 'nishiki'; src: url('/.assets/fonts/sitelenselikiwenasuki.ttf');
}

.highlightOnHover {
    cursor: pointer;
}

.highlightOnHover:hover {
    color:#ffed91;
}

.sitelen {
    font-family: "nishiki";
    font-style: normal;
    font-weight: normal;
    font-size: xx-large;
    color: #ffffff;
    padding-right: 5px;
    /* unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    color: #333339;
}

header {
    margin: 1%;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: xx-large;
    margin-bottom: 10px;
}

.luna {
    color: #b0b0b0;
    font-size: normal;
    margin-top: 10px;
}

main {
    width: 100%;
    max-width: 1000px;
}

.another-container {
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #19191c;

    border: #333339;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#search-input {
    flex: 1;
    padding: 15px 20px;
    outline: none;

    color: #ffffff;
    background-color: #19191c;
    border: none;
    font-size: 15px;
}

#viewmode {
    padding: 15px 25px;
    cursor: pointer;

    color: #ffffff;
    background-color: #19191c;
    border: none;
    font-size: 15px;
}
#viewmode:hover {
    background: #333339;
}

.results-container {
    margin-top: 10px;
}

.word-card {
    background: #19191c;
    padding: 20px;
    margin-bottom: 10px;

    border: #333339;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.wordtp {
    margin-bottom: 5px;
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
}

.definition {
    line-height: 1.6;
    color: #ffffff;
}

.frequency-core {
    padding-left: 10px;
    color: #a1ff91;
}
.frequency-common {
    padding-left: 10px;
    color: #91adff;
}
.frequency-uncommon {
    padding-left: 10px;
    color: #ffed91;
}
.frequency-obscure {
    padding-left: 10px;
    color: #ff91f8;
}


.extra {
    margin-top: 10px;
    padding: 10px;
    font-style: italic;
    color: #b0b0b0;
    font-size: small;
}

.results {
    text-align: center;
    font-size: normal;
    color: #b0b0b0;
}

.word-list {
    background: #19191c;
}

summary {
    user-select: none;
    cursor: pointer;
}
summary:hover {
    color: #ffffff;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #b0b0b0;
    font-size: small;
}


@media (max-width: 768px) {
    #viewmode {
        min-width: 30px;
        font-size: small;
    }
}

/* card presentation mode */
.card-mode .word-card {
    background: '#19191c';
    padding: '20px';
    margin-bottom: '10px';
    border: '#333339';
    border-style: 'solid';
    border-width: '2px';
    border-radius: '10px';
    font-size: unset;
}

.card-mode .wordtp {
    margin-bottom: '5px';
    font-size: 'x-large';
    font-weight: 'bold';
    color: '#ffffff';
}

.card-mode .sitelen {
    font-family: 'nishiki';
    font-style: 'normal';
    font-weight: 'normal';
    font-size: 'xx-large';
    color: '#ffffff';
    padding-right: '5px';
}


.card-mode .extra {
    margin-top: '10px';
    padding: '10px';
    font-style: 'italic';
    color: '#b0b0b0';
    font-size: 'small';
}

/* list presentation mode */
.list-mode .word-card {
    background: unset;
    padding: unset;
    margin-bottom: unset;
    border: unset;
    border-style: unset;
    border-width: unset;
    border-radius: unset;
}

.list-mode .wordtp {
    margin-bottom: '5px';
    font-size: 'large';
    font-weight: 'bold';
    color: '#ffffff';
}

.list-mode .sitelen {
    font-family: 'nishiki';
    font-style: 'normal';
    font-weight: 'normal';
    font-size: 'xx-large';
    color: '#ffffff';
    padding-right: '5px';
}

.list-mode .extra {
    margin-top: '10px';
    padding: '10px';
    font-style: 'italic';
    color: '#b0b0b0';
    font-size: 'smaller';
}

.psp {
    font-family: 'Red Hat Text', sans-serif;
    position: fixed;
    font-weight: bold;
    top: 20px;
    right: 20px;
    color: #b0b0b0;
    font-size: small;
}

a {
    color: #ffffff;
}
a:hover {
    text-shadow: 0 0 5px #ffffff;
}

.distract {
    font-size: small;
    letter-spacing: 2px;
    padding-top: 10px;
    text-decoration: none;
}
